<%= form_with(model: @buffet ) do |f| %>
  <div>
    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name%>
  </div>
  <div>
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name%>
  </div>
  <div>
    <%= f.label :cnpj %>
    <%= f.text_field :cnpj%>
  </div>
  <div>
    <%= f.label :contact_phone%>
    <%= f.text_field :contact_phone%>
  </div>
  <div>
    <%= f.label :contact_email%>
    <%= f.email_field :contact_email%>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address%>
  </div>
  <div>
    <%= f.label :district  %>
    <%= f.text_field :district%>
  </div>
  <div>
  <%= f.label :state  %>
  <%= f.text_field :state%>
  </div>
  <div>
    <%= f.label :city  %>
    <%= f.text_field :city%>
  </div>
  <div>
  <%= f.label :cep  %>
  <%= f.text_field :cep%>
  </div>
  <div>
    <%= f.label :description  %>
    <%= f.text_field :description%>
  </div>


  <strong>Meios de Pagamento</strong><br>
  <div> 
  <%= f.fields_for :payment_method do |pm_f| %>
    <div>
      <%= pm_f.label :cash %>
      <%= pm_f.check_box :cash, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :credit_card %>
      <%= pm_f.check_box :credit_card, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :debit_card %>
      <%= pm_f.check_box :debit_card, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :bank_transfer %>
      <%= pm_f.check_box :bank_transfer, {}, true, false %>
    </div>

    <div>
      <%= pm_f.label :paypal %>
      <%= pm_f.check_box :paypal, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :check %>
      <%= pm_f.check_box :check, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :pix %>
      <%= pm_f.check_box :pix, {}, true, false  %>
    </div>
    
    <div>
      <%= pm_f.label :bitcoin %>
      <%= pm_f.check_box :bitcoin, {}, true, false  %>
    </div>

    <div>
      <%= pm_f.label :google_pay %>
      <%= pm_f.check_box :google_pay, {}, true, false  %>
    </div>
  <% end %>
  </div> 
  
  <div>
    <%= f.submit 'Cadastrar Buffet' %>
  </div>
<%end%>
