<h1><%= @buffet.brand_name%></h1>
<h3> <%= @buffet.description %> </h3>
<div> 
  <%if user_owner_signed_in? %>
    <strong>Razão social: </strong><%= @buffet.corporate_name%><br>
  <%end%>
  <strong>CNPJ: </strong><%= @buffet.cnpj%><br>
  <strong>Telefone para contato: </strong><%= @buffet.contact_phone%><br>
  <strong>E-mail para contato: </strong><%= @buffet.contact_email%><br>
  <strong>Endereço: </strong><%= @buffet.address%> <strong>CEP: </strong><%= @buffet.cep%><br>
  <strong>Bairro: </strong><%= @buffet.district%><br>
  <strong>Cidade: </strong><%= @buffet.city%><br> 
  <strong>Estado: </strong><%= @buffet.state%><br>
  <strong>CEP: </strong><%= @buffet.cep%><br>
  <strong>Meios de pagamentos aceitos: </strong><%= @buffet.playment_methods%>

</div>

<div>
  <%if current_user_owner == @buffet.user_owner %>
    <%= link_to 'Editar Buffet', edit_buffet_path( @buffet.id ) %> 
    <%= link_to 'Novo Evento',  new_buffet_event_path( @buffet.id) %> 
    
  <%end%>
</div>

<div>
  <h2>Tipos de Eventos</h2>
  <dl>
  <% @events.each do |event| %>
      <dt> <%= link_to(event.name, buffet_event_path(@buffet, event) )%> </dt> <dd><%= event.description %></dd>
  <%end%>
  </dl>  
</div>
 