<%= form_with model:  [@buffet, @event]   do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name%>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description%>
  </div>
  <div>
    <%= f.label :min_guests %>
    <%= f.number_field :min_guests%>
  </div>
  <div>
    <%= f.label :duration%> (min)
    <%= f.number_field :duration%>
  </div>
  <div>
    <%= f.label :menu%>
    <%= f.text_area :menu%>
  </div>
  <div>
    <%= f.label :alcoholic_beverages %> 
    <%= f.check_box :alcoholic_beverages, {}, true, false %> 
  </div>
  <div>
    <%= f.label :decoration %> 
    <%= f.check_box :decoration, {}, true, false %> 
  </div>
  <div>
    <%= f.label :parking_servise %> 
    <%= f.check_box :parking_servise, {}, true, false %> 
  </div>
 
  <div>
    <%= f.label :event_location, 'O evento deve ser realizado exclusivamente no endereço do buffet' %>
    <%= f.check_box :event_location, {}, true, false %>
  </div> 

  <div> 
    <%= f.fields_for :price do |price_f| %> 

      <strong> Preços do Evento durante os dias da semana</strong><br>

        
      <%= price_f.label :price_base_weekdays %>
      <%= price_f.number_field :price_base_weekdays %><br>

      <%= price_f.label :price_add_weekdays %>
      <%= price_f.number_field :price_add_weekdays %><br>

      <%= price_f.label :price_overtime_weekdays%>
      <%= price_f.number_field :price_overtime_weekdays %><br>

      <strong> Preços do Evento durante o fim de semana</strong><br>
      <%= price_f.label :price_base_weekend %>
      <%= price_f.number_field :price_base_weekend %><br>

      <%= price_f.label :price_add_weekend %>
      <%= price_f.number_field :price_add_weekend %><br>

      <%= price_f.label :price_overtime_weekend%>
      <%= price_f.number_field :price_overtime_weekend %><br>
    <% end %>
  </div> 

  <div>
    <%= f.submit 'Cadastrar Evento' %>
  </div>
<%end%>

 