<h1>Pedidos para o Buffet</h1>

<h2>Pedidos aguardando avaliação do buffet</h2>
<div>
<% @orders_awaiting_evaluation.each do |order| %>
  <div>
    <dl> 
      <dt><h3><%= link_to order.code , order_path( order )  %></h3></dt>
      <dd><strong>Evento: </strong><%=   order.event.name  %></dd>  
      <dd><strong>Status: </strong><%= t(order.status)  %></dd>  
      <dd><strong>Data: </strong><%=  l(order.date_event)  %></dd>   
    </dl>      
  </div>
<% end %>
</div>


<h2>Pedidos confirmados e cancelados</h2>
<div>
<% @orders_confirmed_canceled.each do |order| %>
  <div>
    <dl> 
      <dt><h3><%= link_to order.code , order_path( order )  %></h3></dt>
      <dd><strong>Evento: </strong><%=   order.event.name  %></dd>  
      <dd><strong>Status: </strong><%= t(order.status)  %></dd>  
      <dd><strong>Data: </strong><%=  l(order.date_event)  %></dd>   
    </dl>      
  </div>
<% end %>
</div>



