<h1><%=@order.code%> - <%= t(@order.status)%> </h1>
  
<%
    if @order.event.min_guests >= @order.num_guests
      @base_cost = @order.date_event.saturday? || @order.date_event.sunday? ? @order.event.price.price_base_weekend : @order.event.price.price_base_weekdays
      @overtime_cost = @order.date_event.saturday? || @order.date_event.sunday? ? @order.event.price.price_overtime_weekend : @order.event.price.price_overtime_weekdays
    else
      @base_cost = @order.date_event.saturday? || @order.date_event.sunday? ? @order.event.price.price_base_weekend + @order.event.price.price_add_weekend * @order.event.num_guests : @order.event.price.price_base_weekdays + @order.event.price.price_add_weekdays * @order.num_guests
      @overtime_cost = @order.date_event.saturday? || @order.date_event.sunday? ? @order.event.price.price_overtime_weekend : @order.event.price.price_overtime_weekdays
    end
%>

<div>
  <% if user_owner_signed_in?  && @repeat_orders.present? %>
  <p>Há <%= @repeat_orders.count %> pedidos agendados para o dia <%= @order.date_event.to_date.to_date.strftime("%d/%m/%Y")%>: </p>
    <ul>
    <% @repeat_orders.map do |order| %>
      <li><%= link_to order.code , order_path( order ) %></li>
    <% end %>
    </ul>
  <% end %>
</div>
 
<div>
    <strong>Evento: </strong><%= @order.event.name %><br>
    <strong>Buffet: </strong><%= @order.event.buffet.brand_name%><br>
    <strong>Número de convidados: </strong><%= @order.num_guests %><br>
    <strong>Data do evento: </strong><%= l @order.date_event %><br>
    <strong>Detalhes: </strong><%=  @order.details%><br>
    <strong>Valor padrão do pedido:</strong> <%= number_to_currency @base_cost %><br>
    <strong>Adicional por hora extra: </strong><%= number_to_currency  @overtime_cost%><br>

    <%if @order.address_event.nil? %>
      <strong>Este evento é exclusivo no endereço do buffet: </strong><%=@order.event.buffet.address%>
    <%else%>
      <strong>Endereço do evento: </strong><%=@order.address_event%>
    <%end%>
 
    <div>
      <%if @order.extra_fee_discount.present? && @order.extra_fee_discount_description.present? && @order.expiration_date.present?  %>
        <strong>Taxa extra/Desconto: </strong><%= number_to_currency @order.extra_fee_discount %><br>
        <strong>Descrição da Taxa extra/Desconto: </strong><%= @order.extra_fee_discount_description %><br>
        <strong>Data de validade da Taxa extra/Desconto: </strong><%= @order.expiration_date.to_date.strftime("%d/%m/%Y") %><br>
        <strong>Meio de pagamento utilizado: </strong><%= @order.payment_method_used %><br>
        <strong>Valor final do pedido: </strong><%= number_to_currency (@base_cost + @order.extra_fee_discount ) %>
 
      <%end%>
    </div>
</div>

<div>
  <% if user_owner_signed_in? && @order.awaiting_evaluation? %>
    <%= render 'form_confirmed_buffet'%>
  <%end%>

  <% if user_client_signed_in? && @order.confirmed_buffet?%>
    <% if @order.expiration_date.to_date  > Date.today.to_date %>
      <%= form_with model: @order , method: :put do |f| %>  
        <%= f.hidden_field :status, value: :confirmed_client %>
        <%= f.submit 'Confirmar pedido' %>
      <% end %>
    <%else%>
      <strong>A data-limite para a confirmação já passou!</strong>
    <% end %>
  <% end %>

  <% if user_client_signed_in?  && !@order.canceled?%>
    <%= button_to order_path(@order), method: :put, params: { order: { status: :canceled } }, data: { confirm: 'Tem certeza que deseja cancelar este pedido?' } do %>
      Cancelar pedido
    <% end %>
  <% end %>

</div>
 