<!DOCTYPE html>
<html>
  <head>
    <title>BuffetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <main>
      <nav> 
        <div>
        <%= link_to "Início", root_path unless current_page? root_path %>

        <% if user_owner_signed_in?  %>
          <%= button_to "Sair", destroy_user_owner_session_path, method: :delete %> 
        <% elsif user_client_signed_in?  %>
        <%=  current_user_client.email%> 
          <%=  current_user_client.name%> 
          <%= button_to "Sair", destroy_user_client_session_path, method: :delete %> 
        <%else%>
          <%= link_to 'Entrar', login_path%> 
          <%= link_to 'Inscrição', sign_up_path%> 
          
        <% end %>
        </div>
        <div>
          <%= form_with url:  search_buffets_path , method: :get do |form| %>
          <%= form.label :query, 'Buscar' %>
          <%= form.text_field :query %>
          <%= form.submit 'Buscar' %>
          <% end %>

        </div>

      </nav>
      
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
